@model ProgrammingCoursesApp.ViewModels.UserEditVM
@{
    ViewBag.Title = "User edit";
}

<form asp-controller="Admin" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserName" />
    <h2 class="viewDescriptions">Edit user role for user "@Model.UserName"</h2>
    <div class="form-group">
        <label asp-for="IdentityRole" class="control-label"><h3>User role</h3></label><br />
        @foreach (var role in Model.IdentityRoles)
        {
            <input type="radio" asp-for="IdentityRole" value="@role" id="Role@(role)" />
            <label for="Role@(role)" class="ml-2">@role</label> <br />
        }
    </div>
    <div class="form-group">
        <a class="btn btn-info" asp-action="Index">Back to users</a>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>