@model ProgrammingCoursesApp.Models.Course

@{
    ViewData["Title"] = "Course edit";

    //nevar atvērt kursu, kur nav atvērtas tēmas
    var openedTopics = Model.Topics != null ? Model.Topics.Where(x => x.IsOpened).ToList() : null;
    var cantPublish = !Model.IsOpened && (openedTopics == null || !openedTopics.Any());
}

<h2 class="viewDescriptions">Course "@(Model.Name)" edit</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditCourse" id="editCourseForm" onsubmit="return publishCourse(@cantPublish.ToString().ToLower())">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4" autocomplete="off"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpened" /> Publish course
                </label>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="UserCourses">Back to courses</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function publishCourse(cantPublish) {
            if (cantPublish) {
                let unpublishCourse = document.getElementById("IsOpened").checked;

                if (unpublishCourse) { //lietotājs atzīmēja publicēt kursu
                    alert('You can`t publish course because it doesn`t contain any opened topic.');
                    return false;
                }
                else {
                    return true;
                }
            }

            return true;
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
