@model IEnumerable<ProgrammingCoursesApp.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>
<hr />

<div class="row row-flex">
    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="margin-top:50px">
            <div class="card">
                <a asp-controller="Topics" asp-action="Index" asp-route-id="@item.Id" class="card-link">
                    <div class="card-header">
                        <h5 class="card-title text-center text-dark">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                    <div class="card-body bg-white">
                        <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

<style>
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .card-link {
        color: #403c3c;
        text-decoration: none;
    }

    .card-link:hover {
        color: #000000;
    }

    .card:hover .card-header {
        background-color: #8ebde8;
    }

    .card:hover {
        border: 1px solid #ccc;
        box-shadow: 5px 0px 30px 10px rgb(0 0 0 / 10%);
    }

    .card-title {
        font-size: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }

    .card-header {
        background-color: #addef6;
    }
</style>