@model IEnumerable<ProgrammingCoursesApp.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

@section Styles {
    <link href="~/css/coursesIndex.css" rel="stylesheet" type="text/css" />
}

<h2 class="viewDescriptions">Courses</h2>

<hr />
<div class="row row-flex">
    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="margin-top:50px">
            <div class="card">
                <a asp-controller="Topics" asp-action="Index" asp-route-id="@item.Id" class="card-link">
                    <div class="card-header">
                        <h5 class="card-title text-center text-dark">@Html.DisplayFor(modelItem => item.Name)</h5>
                    </div>
                    <div class="card-body bg-light">
                        <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="card-footer">
                    </div>
                </a>
            </div>
        </div>
    }
</div>