@model IEnumerable<ProgrammingCoursesApp.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h2>Courses</h2>
<hr />

<div class="row row-flex">
    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="margin-top:20px">
            <div class="card">
                <div class="card-header" style="background-color:#eaf2ff">
                    <h5 class="card-title text-center text-dark" style="padding-top:5px; padding-bottom:5px; margin-bottom:0px;">@Html.DisplayFor(modelItem => item.Name)</h5>
                </div>
                <div class="card-body bg-light">
                    <p class="card-text text-justify">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Topics" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary" width="40%">Learn</a>
                </div>
            </div>
        </div>
    }
</div>

<style>
    h2 {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .card-header {
        cursor: default;
    }
</style>