@model ProgrammingCoursesApp.Models.Topic

@{
    ViewData["Title"] = "EditTopic";

    //nevar publicēt tēmu, kura nesatur uzdevumus
    var tasks = Model.TopicBlocks != null ? Model.TopicBlocks.ToList() : null;
    var cantPublish = !Model.IsOpened && (tasks == null || !tasks.Any());
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

<h2 class="viewDescriptions">Edit topic "@Model.Name"</h2>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditTopic" onsubmit="return publishTopic(@cantPublish.ToString().ToLower())">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CourseId" />
            <input type="hidden" asp-for="DisplayOrder" />
            <input type="hidden" asp-for="IsLastOpenedTopic" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="4" cols="10" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpened" /> Publish topic
                </label>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="TopicsForCreator" asp-route-id="@Model.CourseId">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    function publishTopic(cantPublish) {
        let publishTopic = document.getElementById("IsOpened").checked;

        if (publishTopic == true && cantPublish) {
            alert('You can`t publish topic because it doesn`t contain any task.');
            return false;
        }

        if (@Model.IsLastOpenedTopic.ToString().ToLower()) {
            return confirm('Are you sure you want to unpublish the last published topic? Course will be automatically unpublished because course will not contain opened topics.');
        }

        return true;
    }
</script>

<script>

    tinyMCE.init({
        selector: '.editorHtml',
        mode: "textareas",
        theme: "modern",
    });

</script>
