@model ProgrammingCoursesApp.Models.Topic

@{
    ViewData["Title"] = "EditTopic";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

<h2>Edit topic "@Model.Name"</h2>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditTopic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="4" cols="10" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpened" /> Publish topic
                </label>
            </div>
            <p class="info">Hint:  Published topic will be visible only in course preview (if course is unpublished).</p>
            <div class="form-group">
                <a class="btn btn-info" asp-action="TopicsForCreator" asp-route-id="@Model.CourseId">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    tinyMCE.init({
        selector: '.editorHtml',
        mode: "textareas",
        theme: "modern",
    });

</script>
