@model ProgrammingCoursesApp.Models.Topic

@{
    ViewData["Title"] = "EditTopic";
}

<h1>Edit topic "@Model.Name"</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTopic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4" autocomplete="off"></textarea> 
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOpened" /> Publish topic
                </label>
            </div>
            <p class="info">Hint:  Published topic will be visible only in course preview (if course is unpublished).</p>
            <div class="form-group">
                <a class="btn btn-info" asp-action="TopicsForCreator" asp-route-id="@Model.CourseId">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
