@model ProgrammingCoursesApp.ViewModels.CreateOrEditTaskVM

@{
    var aspActionName = Model.IsCreation ? "CreateReadTask" : "EditReadTask";
    var routeId = Model.IsCreation ? Model.TopicId : Model.ReadTask.Id;
    var title = Model.IsCreation ? "Reading task creation" : "Reading task edit";

    ViewData["Title"] = title;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

<h1>@title</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="@aspActionName" asp-route-id="@routeId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!Model.IsCreation)
            {
                <input type="hidden" asp-for="ReadTask.Id" />
                <input type="hidden" asp-for="ReadTask.TopicBlockId" />
            }
            <div class="form-group">
                <label asp-for="ReadTask.Name" class="control-label"></label>
                <input asp-for="ReadTask.Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="ReadTask.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadTask.Text" class="control-label"></label>
                <textarea asp-for="ReadTask.Text" class="form-control editorHtml" rows="10" autocomplete="off"></textarea>
                <span asp-validation-for="ReadTask.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadTask.Points" class="control-label"></label>
                <input asp-for="ReadTask.Points" class="form-control" />
                <span asp-validation-for="ReadTask.Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="TasksForCoursesCreator" asp-route-id="@Model.TopicId">Back to topics</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    tinyMCE.init({
        selector: '.editorHtml',
        mode: "textareas",
        theme: "modern",
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify |  bullist numlist outdent indent'
    });

</script>